Source: management-agent-it4smart
Section: python
Priority: extra
Maintainer: IT4smart GmbH <support@it4smart.eu>
Build-Depends: debhelper (>= 9), dh-systemd (>= 1.5), python3, dh-virtualenv (>= 1.0), python3-setuptools, python3-pip, python3-dev, libffi-dev
Standards-Version: 3.9.5

Package: management-agent-it4smart
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python3, ${misc:Pre-Depends}
Depends: ${python3:Depends}, ${misc:Depends}
Description: Agent to communicate with IT4smart management server (sherlock).
