Source: management-agent-it4s
Section: python
Priority: extra
Maintainer: IT4S GmbH <support@it4s.eu>
Build-Depends: debhelper (>= 9), dh-systemd (>= 1.5), python, dh-virtualenv (>= 0.8)
Standards-Version: 3.9.5

Package: management-agent-it4s
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python2.7, ${misc:Pre-Depends}
Depends: ${python:Depends}, ${misc:Depends}
Description: Agent to communicate with IT4S Management server.
