[Unit] 
Description=IT4S Agent 
After=multi-user.target

[Service] 
Type=idle 
ExecStart=/usr/share/python/management-agent-it4s/bin/python2 /usr/share/python/management-agent-it4s/lib/python2.7/site-packages/agent/Run.py

[Install] 
WantedBy=multi-user.target