[Unit] 
Description=IT4S Agent 
After=multi-user.target

[Service]
Restart=always
Type=idle 
ExecStart=/opt/IT4S/management-agent-it4s/bin/python /opt/IT4S/management-agent-it4s/lib/python2.7/site-packages/agent/Run.py

[Install] 
WantedBy=multi-user.target